[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gunicorn = "*"
aiohttp = "==3.0.0"
aioworkers = "*"
aioworkers_aiohttp = "*"
aioworkers-redis = "*"
aioredis = "*"
yarl = "*"
aioga = "*"

[dev-packages]

[requires]
python_version = "3.6"
